<%- include("./partials/header.ejs") %>

<div class="pages d-flex">
    <div id="page-bg-img"></div>
    <div class="page1 container">
        <form action="/users/signup" method="post" class="login">
            <h3>Sign Up</h3>
            <hr>
            <select name="access" required>
                <option value="blank" selected disabled>Personnel</option>
                <option value="parent">Parent</option>
                <option value="teacher">Teacher</option>
                <option value="student">Student</option>
                <option value="admin">Admin</option>
            </select>
            <input type="number" placeholder="Enrollment Number" name="enrollmentNumber" autocomplete="enrollmentNumber" required>
            <input type="text" placeholder="Full Name" name="fullname" autocomplete="fullname" required>
            <input type="email" placeholder="E-mail" name="email" autocomplete="email" required>
            <input type="number" placeholder="Mobile Number" name="mobile" autocomplete="tel" required>
            <input type="password" placeholder="Password" name="password" required>
            <input type="password" placeholder="Confirm Password" name="cpassword" required>
            <hr>
            <input type="submit" value="Submit">
            <div class="login-footer">
                <a href="/login" class="login-a">
                    Log In
                </a>
            </div>
        </form>
    </div>
</div>

<%- include("./partials/footer.ejs") %>